body {
	font-family: "Roboto Slab";
	background-color: azure;
}

div {
	/*outline: 1px solid red;*/
}

nav li {
	font-family: "Roboto Slab";
	display:inline-block;
	width: 33%;
	text-align: center;
}

aside {
	font-family: "Roboto Slab";
}

nav, aside, article, footer {
	background-color: powderblue;
}

a:link{
	color: darkslategrey ;
}

a:visited{
	color: darkslategray;
}

p {
	padding-left:50px;
	padding-right: 50px;
	text-align: center;
}