body {
	font-family: "Arvo";
	background-color: azure;
	background-image: url("../congruent_pentagon.png");
}

div {
	/*outline: 1px solid red;*/
}

nav li {
	font-family: "Arvo";
	display:inline-block;
	width: 33%;
	text-align: center;
}

aside {
	font-family: "Arvo";
}

nav, aside, article, footer {
	background-color: rgba(168,219,168,0.7);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);

}

nav, aside, footer{
	font-weight: bold;
}
aside ul {
	list-style: none;
	padding-left: 10px;
}

header {
		font-family: "Roboto Slab";
}
a:link{
	color: darkslategrey ;
}

a:visited{
	color: darkslategray;
}

p {
	padding-left:50px;
	padding-right: 50px;
	text-align: center;
}